
.cardbox {
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  overflow: hidden;
}

.card {
  display: grid;
  grid-template-columns: 300px;
  grid-template-rows: 250px 50px;
  grid-template-areas: "image" "text" "stats";
  border-radius: 0;
  background: white;
  text-align: center;
  cursor: pointer;
  margin:15px;
  transform-style: preserve-3d;
  perspective: 1000px;
}
.card-image {
  grid-area: image;
  background: url("images/inversion.png");
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  background-size: cover;
}
.card-text {
  grid-area: text;
  margin: 10px;
  padding: 0px;
  transform: translateZ(30px);
}

.card-text p {
  color: grey;
  font-size:15px;
  font-weight: 300;
}
.card-text h2 {
  margin:0px;
  font-size:20px;
}

/*card2*/
.card-image.card2 {
  background: url("images/neuralink.png");
  background-size: cover;
}


/*card3*/
.card-image.card3 {
  background: url("images/sr780.jpg");
  background-size: cover;
}

.js-tilt-glare {
  border-radius: 18px;
}